<div class="wrapper">
    <div class="container">
        <h5 style="color: white; margin: 0 0 10px 0;">{{ loading === true ? 'loading.. ' : 'ingredients:' }}</h5>
        <p class="text" *ngFor="let ingredient of apiRes?.ingredients">
            {{ (loading === false ? ingredient : null) }}
        </p>
    </div>
    <div class="container">
        <h5 style="color: white; margin: 10px 0 10px 0;">{{ loading === true ? 'loading.. ' : 'instructions:' }}</h5>
        <p class="text" *ngFor="let instruction of apiRes?.instructions">
            {{ (loading === false ? instruction : null) }}
        </p>
    </div>
</div>